@model IEnumerable<ProjectLibrary.Models.RequestEntity>

@{
    ViewBag.Title = "Requests";
}

<h2>Requests</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Short Description
            </th>
            <th>
                Submission Date
            </th>
            <th>
                Is Active
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmissionDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
