@model ProjectLibrary.Models.VolunteerEntity

@{
    ViewBag.Title = "Volunteer Details";
}

<h2>Volunteer Details</h2>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-10">@Model.DateOfBirth.ToShortDateString()</dd>

        <dt class="col-sm-2">City</dt>
        <dd class="col-sm-10">@Model.City</dd>

        <dt class="col-sm-2">Biography</dt>
        <dd class="col-sm-10">@Model.Biography</dd>

        <dt class="col-sm-2">Organizations</dt>
        <dd class="col-sm-10">@string.Join(", ", Model.Organizations)</dd>

        <dt class="col-sm-2">Requests</dt>
        <dd class="col-sm-10">@string.Join(", ", Model.Requests)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
