@model ProjectLibrary.Models.VolunteerEntity

@{
    ViewData["Title"] = "Volunteer Details";
}

<h1>Volunteer Details</h1>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            City
        </dt>
        <dd class="col-sm-10">
            @Model.City
        </dd>
        <dt class="col-sm-2">
            Date of Birth
        </dt>
        <dd class="col-sm-10">
            @Model.DateOfBirth.ToShortDateString()
        </dd>
        <dt class="col-sm-2">
            Biography
        </dt>
        <dd class="col-sm-10">
            @Model.Biography
        </dd>
    </dl>

    <p>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </p>
</div>
