@using ProjectLibrary.Models
@model MilitaryUnitEntity
@{
    ViewData["Title"] = "Details";
}

<h1>Details of @Model.Name</h1>

<div>
    <h4>Military Unit</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Contact Person</dt>
        <dd class="col-sm-10">@Model.ContactPersonId</dd>
    </dl>
</div>

<div>
    <h4>Submitted Requests</h4>
    <hr />
    @if (ViewBag.Requests != null && ((List<ProjectLibrary.Models.RequestEntity>)ViewBag.Requests).Any())

    {
        <ul class="list-group">
            @foreach (var request in ViewBag.Requests)
            {
                <li class="list-group-item">
                    <strong>@request.ShortDescription</strong><br />
                    <span><em>Due Date:</em> @request.DueDate.ToShortDateString()</span><br />
                    <span><em>Status:</em> @(request.IsActive ? "Active" : "Inactive")</span>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No requests found for this military unit.</p>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
